<h2>座席選択: <%= @movie.name %></h2>
<p>日付: <%= @date %></p>

<table>
  <% @sheets.each do |sheet| %>
    <tr>
      <td>
        <%= link_to sheet.column, new_reservation_movie_path(@movie, schedule_id: params[:schedule_id], sheet_id: sheet.id) %>
      </td>
    </tr>
  <% end %>
</table>
